<footer class="container-fluid bg-light mt-4">
    <div class="row">
        <section class="col">
            colonne 1
        </section>
        <section class="col">
            colonne 2
        </section>
        <section class="col">
            colonne 3
        </section>
    </div>
</footer>